

.carousel-inner img {
    height: 450px;
    object-fit: cover;
    background-color: #000;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .carousel-caption .text-box {
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
        text-align: center;
        width: 120wh;
        height: 120vh;
        padding: 40px 60px;
        border-radius: 15px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    }

.container {
    padding: 15px;
    max-width: 1100px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.partnerships {
    text-align: center;
    padding: 20px;
}

    .partnerships h2 {
        margin-top: 30px;
        text-align: center;
        color: #003366;
    }

.partners-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* text-align: center; */
    margin-top: 30px;
}

.partner {
    display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap;
  margin-top: 30px; */


    flex-direction: column;
    align-items: center;
    width: 120px;
}

    /* .logo-item {
    display: flex
;
    flex-direction: column;
    align-items: center;
    width: 120px;
} */


    .partner img {
        width: 60px;
        height: auto;
        margin-bottom: 5px;
        display: block;
    }

    .partner p {
        font-size: 14px;
        color: #333;
    }


.section {
    margin-top: 50px;
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

    .section img {
        display: block;
        max-width: 100%;
    }

    .section h3, p {
        text-align: center;
    }





.qus {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.cards {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

    .cards:hover {
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.10);
        cursor: pointer;
        transform: translateY(-10px);
        transition: all 0.5s ease;
    }

.cust {
    text-align: center;
    margin-top: 10px;
}

    .cust p {
        font-size: 17px;
        font-weight: bold;
        color: #555;
        ;
    }

    .cust h1 {
        color: #04273b;
    }
